# Projet maison n° 3

In [1]:
# imports
import pandas as pd
from os import listdir

## 1. US baby names

On va s'intéresser au dataset **National data** de la SSA : https://www.ssa.gov/oact/babynames/limits.html

1. Télécharger le dataset des prénoms US : https://www.ssa.gov/oact/babynames/names.zip

Lire la documentation associée.

2. Implémenter une fonction Python `df_names_us()` qui produit un unique DataFrame avec tous les fichiers en utilisant **pandas** (par ex. avec la fonction `pandas.concat()`), pas de bash :)

Ordre et noms des colonnes du DataFrame : "year", "name", "gender", "births"

Le DataFrame doit être trié selon l'année croissante puis selon l'ordre défini dans les différents fichiers (voir la documentation du dataset).

In [2]:
# names us
def df_names_us():
    dir = "C:/Users/antoi/OneDrive/Documents/antoine/TELECOM/python/Projets-Kit-Big-Data/session3/names"
    fichiers = listdir(dir)[1:]
    datas = []
    for i in range(len(fichiers)):
        data = pd.read_csv(dir + "/" + fichiers[i], names=["name", "gender", "births"])
        year = fichiers[i][3:7]
        years = [year] * len(data)
        data.insert(0, "year", years) 
        datas.append(data)
        df = pd.concat(datas)
        df = df.reset_index()
        df = df.drop('index', axis=1)
    
    return df

## 2. Prénoms français

On va s'intéresser au dataset **Fichiers France hors Mayotte** de l'INSEE :  https://www.insee.fr/fr/statistiques/2540004/

L'idée est de charger les données et ensuite de les conformer au DataFrame des prénoms US. Ainsi, toute manipulation sur le DataFrame des prénoms US pourra être directement réutilisée avec le DataFrame des prénoms français.
 
1. Télécharger le dataset des prénoms français : https://www.insee.fr/fr/statistiques/fichier/2540004/nat2021_csv.zip


Lire la documentation, ça peut être utile...
 
2. Implémenter une fonction `df_names_fr()` qui produit un DataFrame avec les prénoms français en prenant le DataFrame des prénoms US comme modèle :
 
 - Même ordre et mêmes noms des colonnes : "year", "name", "gender", "births"
 - Mêmes dtypes pour les colonnes
 - Mêmes valeurs pour la colonne "gender"
 - Seuls les prénoms de 2 caractères et plus sont conservés
 - La casse des prénoms doit être identique : initiales en majuscule, autres lettres en minuscule
 - Les lignes avec des données inutilisables doivent être supprimées
 - Les données sont triées à l'identique : year (↑), puis gender (↑), puis births (↓) et enfin name (↑)
 - L'index du DataFrame doit aller de 0 à N-1

In [3]:
# names fr
def df_names_fr():
    gender_mapping = {1: 'M', 2: 'F'}
    #converters des fonctions sur les colonnes pour le read_csv avec str.title() ou utiliser une fonction lamdba, mapping.get
    #utiliser 'na_values' pour préciser quelles sont les valeurs qui doivent être enlevées
    #on peut garder les default na avec 'keep_default_na' 
    #dtype=str
    df = pd.read_csv("C:/Users/antoi/OneDrive/Documents/antoine/TELECOM/python/Kit-Big-Data/session3/nat2021_csv/nat2021.csv", delimiter=";")
    #utiliser les fonctions lambdas !!!
    df.rename(columns = {'sexe':'gender', 'preusuel':'name', 'annais':'year', 'nombre':'births'}, inplace = True)
    df = df.iloc[:, [2,1,0,3]]
    df['gender'] = df['gender'].astype(object) #comme ça les opérations sur les colonnes sont déjà effectuées
    df['gender'] = df['gender'].map(gender_mapping)  #comme ça les opérations sur les colonnes sont déjà effectuées
    df = df.drop(df.loc[df["name"] == "_PRENOMS_RARES"].index)
    df = df.loc[df["name"].str.len() >= 2]  #utiliser un .loc
    df["name"] = df["name"].str.title()  #comme ça les opérations sur les colonnes sont déjà effectuées
    df = df.drop(df.loc[df.isna().any(axis=1)].index)
    df = df.drop(df.drop(df.loc[df['year'].str.match('\d{4}'), 'year'].index).index)
    df = df.sort_values(by = ['year', 'gender', 'births', 'name'], ascending = [True, False, False, True])
    df = df.reset_index()
    df = df.drop('index', axis=1)
    return df


#à regarder : librairies functools et itertools
#itertools : pour balayer des listes ...
#partial from functools:

## 3. Taux de change

On va s'intéresser au dataset des cours des devises de la Banque de France :  http://webstat.banque-france.fr/fr/browseBox.do?node=5385566

Les données sont dans le fichier "Webstat_Export.csv".

L'idée est de charger les données, de les nettoyer et de pouvoir accéder aux cours de certaines devises à partir de leur code ISO3. On retiendra uniquement les colonnes se terminant effectivement par un code ISO3 entre parenthèses. Par ex., "Dollar des Etats-Unis (USD)".

Implémenter une fonction `df_taux_change()` qui produit un DataFrame avec les taux de change par date pour une liste de codes ISO3 de devises passée en argument. L'index du DataFrame doit correspondre aux dates (voir la fonction `pd.to_datetime()` avec le format`"%d/%m/%Y"`) et doit être trié par ordre croissant. Les colonnes du DataFrame doivent correspondre aux devises sélectionnées.

### Tests

In [4]:
# taux de change
def df_taux_change(devises):
    df = pd.read_csv("C:/Users/antoi/OneDrive/Documents/antoine/TELECOM/python/Kit-Big-Data/session3/Webstat_Export.csv", delimiter=";", index_col=0)
    df = df.drop(['Code série :', 'Unité :', 'Magnitude :', "Méthode d'observation :", 'Source :'])
    df.columns = df.columns.str.split(" ").str.get(-1).str[1:-1]
    #str.extract, créer une série de transition pour extraire les noms des monnaies
    df = df.loc[:,df.columns.str.match('^[A-Z][A-Z][A-Z]')]
    df = df.drop(df.loc[df.isna().any(axis=1)].index)
    df.index = pd.to_datetime(df.index, format='%d/%m/%Y')
    df = df.sort_index(ascending = True)
    df = df.replace(',','.', regex=True)
    df = df[~df[df.columns].isin(['-'])]
    df = df.drop(df.loc[df.isna().any(axis=1)].index)
    df[df.columns] = df[df.columns].apply(pd.to_numeric)
    return df[devises]

In [5]:
import unittest

class Session3Tests(unittest.TestCase):
    def test_df_names_us(self):
        df = df_names_us()
        # colonnes
        self.assertEqual(list(df.columns), ["year", "name", "gender", "births"])
        # lignes
        self.assertEqual(len(df), 2052781)
        # index
        self.assertTrue(isinstance(df.index, pd.core.indexes.range.RangeIndex))
        # test NaN
        self.assertTrue(df.loc[df.isnull().any(axis=1)].empty)
        
    def test_df_names_fr(self):
        df = df_names_fr()
        # colonnes
        self.assertEqual(list(df.columns), ["year", "name", "gender", "births"])
        # lignes
        self.assertEqual(len(df), 648329)
        # index
        self.assertTrue(isinstance(df.index, pd.RangeIndex))
        # test names
        self.assertTrue(df.loc[df.name.str.contains(r"^[A-Z]+$")].empty)
        self.assertTrue(df.loc[df.name.str.contains(r"-[a-z]+$")].empty)
        # test gender
        self.assertEqual(len(df), len(df.loc[df.gender=="F"]) + len(df.loc[df.gender=='M']))
        # test NaN
        self.assertTrue(df.loc[df.isnull().any(axis=1)].empty)

    def test_df_taux_change(self):
        df = df_taux_change(["CHF", "GBP", "USD"])
        # colonnes
        self.assertEqual(list(df.columns), ["CHF", "GBP", "USD"])
        # index
        self.assertTrue(isinstance(df.index, pd.DatetimeIndex))
        # index trié
        self.assertEqual(list(df.index.argsort()), list(range(len(df))))
        # types taux
        self.assertTrue((df.dtypes == float).all())
        # test NaN
        self.assertTrue(df.loc[df.isnull().any(axis=1)].empty)

In [6]:
# run tests
def run_tests():
    test_suite = unittest.makeSuite(Session3Tests)
    runner = unittest.TextTestRunner(verbosity=2)
    runner.run(test_suite)

In [7]:
# run tests
run_tests()

test_df_names_fr (__main__.Session3Tests) ... ok
test_df_names_us (__main__.Session3Tests) ... ok
test_df_taux_change (__main__.Session3Tests) ... ok

----------------------------------------------------------------------
Ran 3 tests in 58.832s

OK

In [10]:
names_fr = df_names_fr()
names_us = df_names_us()

In [12]:
names_fr.loc[names_fr["name"].str.contains(r'a.*e.*i.*o', regex=True), "name"].unique()

array(['Marie-Philomene', 'Marie-Victorine', 'Marie-Victoire',
       'Marie-Simone', 'Marcelino', 'Valerio', 'Valentino', 'Valeriano',
       'Saverio', 'Marie-Nicole', 'Marie-Violaine', 'Marie-Mimose',
       'Marie-Victoria', 'Marcellino', 'Maria-Conception',
       'Marie-Christophe', 'Laurentino', 'Charles-Victor',
       'Charles-Nicolas', 'Marie-Violette', 'Maelio'], dtype=object)

In [13]:
#Méthode de reshaping => pivot_table()
#permet de faire des aggrégations sur les lignes et les colonnes 

names_us.pivot_table(index='year',
                    columns='gender',
                    values='births',
                    aggfunc='sum')

gender        F        M
year
1880      90994   110490
1881      91953   100737
1882     107847   113686
1883     112319   104625
1884     129019   114442
...         ...      ...
2017    1723043  1847191
2018    1696917  1811738
2019    1673030  1788414
2020    1609171  1718248
2021    1627098  1734277

[142 rows x 2 columns]

In [17]:
names_fr.pivot_table(index='year',
                    columns='gender',
                    values='name',
                    aggfunc='count') #count ou nunique pour les non numériques

gender     F     M
year
1900     983   723
1901    1010   719
1902    1019   721
1903    1020   737
1904    1013   765
...      ...   ...
2017    7479  6608
2018    7386  6629
2019    7361  6513
2020    7164  6448
2021    7111  6388

[122 rows x 2 columns]

In [ ]:
#crosstab pour faire le nombre de croisement entre deux séries
#on peut rajouter l'option margins pour faire les totaux sur les côtés